input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5.5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    border: 1.2px solid #777;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }